<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>

<head>
  <title>User preferences</title>
  <meta name="description" content="cfc-calender-webview">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
    body {
      font-family: Arial;
    }

    .container {
      margin: 30px;
    }

    #preferencesForm {
      margin-top: 25px;
    }

    #preferencesForm input {
      width: 100%;
      padding: 8px 0px;
      background-color: #4885ed;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: Arial;
      font-weight: 600;
      border-radius: 3px;
    }

    .ui-datepicker {
      box-sizing: border-box !important;
    }

    .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
      margin: 0px auto;
      width: 100%;
    }

    .ui-datepicker-header {
      color: white;
      background-color: #4885ed !important;
      font-family: Arial;
    }
  </style>
</head>

<body>
  <script>
    // Code copied from Facebook to load and initialise Messenger extensions
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    $(function () {
      $("#datepicker").datepicker({
        minDate: 0,
        dateFormat: "yy-mm-dd"
      });
    });
  </script>

  <div class="container">

    <div id="datepicker"></div>
    <form id="preferencesForm">

      <input type="hidden" value="{{data}}" name="uId" />
      <input type="hidden" name="booking_date">
      <input type="submit" value="Select Date">
    </form>

  </div>

  <script>
    $(function () {

      window.extAsyncInit = function () {

        $("#datepicker").change(function () {
          var dpicker = $(this);
          $('input[type="hidden"][name="booking_date"]').val(dpicker.val());
        });

        // Handle button click
        $('#preferencesForm').submit(function (event) {
          event.preventDefault();
          const formData = $('#preferencesForm').serialize();
          // post data to server
          $.post('/broadcast-to-chatfuel', formData, function (data) {
            MessengerExtensions.requestCloseBrowser(function () {
            }, function (error) {
              console.log(error);
            });
          });
        });

      }
    });

  </script>

</body>

</html>