body {
  font-family: Arial;
}

.container {
  margin: 30px;
}

#preferencesForm {
  margin-top: 25px;
}

#preferencesForm input {
  width: 100%;
  padding: 8px 0px;
  background-color: #4885ed;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial;
  font-weight: 600;
}

.ui-datepicker {
  box-sizing: border-box !important;
}

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  margin: 0px auto;
  width: 100%;
}

.ui-datepicker-header {
  color: white;
  background-color: #4885ed !important;
  font-family: Arial;
}
